ul {
  list-style-type: none;
}

header nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 60px;
  height: 100%;
  align-items: stretch;
}

header nav ul li {
  margin-right: 28px;
}

header nav ul li a {
  text-decoration: none;
}

header nav aside {
  display: flex;
  margin-left: auto;
}

header nav aside ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

#svg-button {
  border: none;
}

main section article {
  margin: 0 100px;
}

main section article ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main section article ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

main section article ul li a img {
  margin: auto;
}

main section article ul li a p {
  font-size: 13px;
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
  line-height: 18px;
}

.banner-wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex-wrap: wrap;
}

.banner-box li {
  display: none;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.banner-box li:first-child {
  display: block;
}

.banner-img {
  width: 100%;
  height: auto;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-list li {
  margin: 0 5px;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
